.Home {
  padding: 0;
  position: relative;
  display: grid;
  /* display: flex; */
  /* background-color: black; */

  /* justify-content: center; */
  /* grid-template-columns: 18rem auto 20rem; */
  gap: 1rem;
  width: 100%;
}
.nav {
  width: 100%;
}
.RightSidebar {
  width: 20%;
  /* align-self: flex-start; */
  justify-self: start;
  position: relative;
}
.postside {
  /* background-color: red; */
  width: 40%;
}
