/* .Home {


  gap: 2rem;
  overflow: hidden;
  color: var(--black);
  background-color: #f3f3f3;
  padding: 1rem 1rem;
}
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #a6ddf0;
  filter: blur(72px);
} */

.RightSideBar {
  margin-left: 1.5rem;
  /* width: 20%; */
  margin-top: 0;
}
.LeftSideNav {
  margin-right: 3rem;
  /* width: 20%; */
}
.flexcontainer{
  width: 100%;
}
.nav{
  width: 100%;
  background-color: white;
}